.container {
  padding: 74px 16px 80px;
  height: 100%;
  box-sizing: border-box;

  .editor {
    height: 435px;
    max-height: 435px;
    display: flex;
    flex-direction: column;
    
    :global(.ql-container) {
      flex: 1;
      overflow-y: scroll;
      font-size: 16px;

      :global(.ql-editor.ql-blank)::before {
        color: #898989;
        font-weight: 300;
        font-style: normal;
      }
    }
  }
  

  .inner {
    width: 100%;
    max-width: 1404px;
    margin: 0 auto;
    height: 100%;
  }
  
  .upload {
    height: 62px;
    border: 1px solid #fff;
    margin:0 auto;
    display: block;
    width: 210px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .title {
    color: #fff;
    font-size: 8.533vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin-bottom: 14.4vw;
  }

  .form_box {
    display: grid;
    gap: 50px;
  }

  .write_box {
    > span {
      font-size: 4.267vw;
      font-style: normal;
      font-weight: 500;
      color: #fff;
      margin-bottom: 4.267vw;
      display: flex;
      align-items: center;
      gap: 14px;

      p {
        font-size: 3.733vw;
        font-style: normal;
        font-weight: 500;
        color: #898989;
      }
    }

    input[type="text"] {
      appearance: none;
      padding-bottom: 10px;
      border-bottom: 1px solid #fff;
      box-sizing: border-box;
      width: 100%;
      color: #fff;
      font-size: 4vw;
      line-height: 34px;
    }
  }

  .img_box,
  .sub_img_list > li
  {
    border: 1px solid #C7C7C7;
    width: 100%;
    max-width: 690px;
    position: relative;
    /* height: 385px; */
    aspect-ratio: 1/0.6;
    box-sizing: border-box;
  }
  
  .text_box {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
  
    img {
      width: 78px;
      aspect-ratio: 1/1;
      margin: 0 auto 20px;
      display: block;
    }
  
    p {
      color: #898989;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .sub_img_list > li {
    max-width: initial;
  }

  .sub_img_list {
    display: grid;
    gap: 15px;

    .sub_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .check_form_list {
    display: grid;
    gap: 10px;
  }

  @media screen and (min-width:1280px) {
    padding: 162px 55px;

    .check_form_list {
      gap: 15px;
    }

    .editor  {
      height: 500px;
      max-height: 500px;

      :global(.ql-container) {
        font-size: 18px;
      }
    }

    .title {
      font-size: 58px;
      margin-bottom: 73px;
    }

    .form_box {
      gap: 90px;
    }

    .write_box {
      >span {
        font-size: 22px;
        margin-bottom: 29px;

        p {
          font-size: 21px;
        }
      }

      input[type="text"] {
        font-size: 18px;
      }
    }

    .img_box,
    .sub_img_list > li {
      height: 385px;
      max-height: 385px;
    }

    .text_box {
      img {
        margin-bottom: 28px;
      }

      p {
        font-size: 18px;
      }
    }

    .sub_img_list {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    .upload  {
      margin-top: 64px;
    }
  }
}