.container {
  width: 100%;
  padding: 80px 16px 0;
  position: relative;
  box-sizing: border-box;

  > h3 {
    color: #fff;
    font-size: 16vw;
    font-weight: 400;
    line-height: 20.267vw;
    word-break: keep-all;
    display: block;
    width: fit-content;

    &.right_title {
      margin-top: 24vw;
      font-size: 4.267vw;
      line-height: 9.067vw;
      text-align: right;
      margin-left: auto;
    }
  }

  .bottom_banner {
    margin: 0 -16px;
    overflow: hidden;
    height: calc((100vw * 241) / 375);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.133vw;
    position: relative;

    > a {
      font-size: 4.267vw;
      font-weight: 400;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 1.867vw;

      img {
        width: 4.267vw;
      }
    }
  }

  .video_box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .banner_title {
    font-size: 14.4vw;
    font-weight: 400;
    line-height: 20.267vw;
    color: #fff;
  }

  @media screen and (min-width: 1280px) {
    padding: 158px 54px 0;

    > h3 {
      font-size: 154px;
      line-height: 164px;

      &.right_title {
        margin-top: 170px;
        font-size: 24px;
        text-align: left;
        line-height: 50px;

        padding-right: 61px;

        br:nth-child(3) {
          display: none;
        }
      }
    }

    .bottom_banner {
      margin: 0 -54px;
      height: calc((100vw * 663) / 1280);
      max-height: 663px;
      gap: 56px;

      > a {
        font-size: 24px;
        gap: 9px;

        img {
          width: 20px;
        }
      }
    }

    .banner_title {
      font-size: 154px;
      line-height: 164px;
    }
  }
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.fadeIn {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}